<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="row">
                <input  type="text"  />
            </div>
            <div class="row">
                Filtered by : {{filter}}
            </div>
            <table class="table" *ngIf="products.length">
                <thead>
                    <tr>
                        <th><button >Show Image</button></th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td></td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>